@use "variables" as v;

@mixin breakpoint($bp) {
  @if $bp == tablet {
    @media (min-width: v.$bp-tablet) {
      @content;
    }
  }

  @if $bp == tablethorizontal {
    @media (min-width: v.$bp-tablet-horizontal) {
      @content;
    }
  }

  @if $bp == desktop {
    @media (min-width: v.$bp-desktop) {
      @content;
    }
  }

  @if $bp == desktopxl {
    @media (min-width: v.$bp-desktop-xl) {
      @content;
    }
  }
}

@mixin button {
  display: inline-block;
  padding: 20px 30px;
  border: none;
  text-decoration: none;
  background-color: v.$color-negro;
  color: v.$color-blanco;
  font-size: v.$bodyM;
  font-family: 'Big Shoulders', sans-serif;
  letter-spacing: 4px;
  font-weight: 500;
  text-align: center;
  transition: background-color 0.3s ease-in-out, transform 0.2s ease-in-out;

  &:hover {
    background-color: v.$color-naranja;
  }
}
