// Tamaños pantalla para breakpoints
$bp-tablet: 768px;
$bp-tablet-horizontal: 1024px;
$bp-desktop: 1200px;
$bp-desktop-xl: 1440px;

// Colores
$color-blanco: #FFFFFF;
$color-negro: #151515;
$color-gris: #444444;
$color-naranja: #D5966C;

// Fuentes
$fuente-encabezado: "Big Shoulders", sans-serif;
$fuente-cuerpo: "Outfit", sans-serif;
$headingXL: 96px;
$headingL: 70px;
$headingM: 60px;
$headingS: 36px;
$bodyM: 22px;
$bodyS: 18px;
