@use "../abstracts/abstracts" as ab;

.footer_index {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 30px;
    gap: 30px;
    background-color: ab.$color-negro;

    @include ab.breakpoint(tablet) {
        flex-direction: row;
        gap: 70px;
        align-items: flex-start;
        padding: 50px 40px 60px 40px;
    }
    
    @include ab.breakpoint(desktop) {
        gap: 100px;
        padding: 100px 160px;
    }

    img {
        width: 25%;

        @include ab.breakpoint(tablet) {
            width: 15%;
        }

        @include ab.breakpoint(desktop) {
            width: 25%;
        }
    }

    .description_footer {
        color: ab.$color-blanco;

        @include ab.breakpoint(tablet) {
            margin-right: 50px;
        }

        @include ab.breakpoint(desktop) {
            margin-left: 40px;
            margin-right: 120px;
            font-size: ab.$bodyM;
            line-height: 34px;
        }
    }

    .media-icons {
        display: flex;
        gap: 16px;

        @include ab.breakpoint(tablet) {
            gap: 24px;
        }

        img {
            width: 16px;
            transition: transform 0.3s ease-in-out, transform 0.2s ease-in-out;

            &:hover {
                transform: scale(1.15);
                filter: brightness(0) saturate(100%) invert(57%) sepia(78%) saturate(240%) hue-rotate(341deg) brightness(96%) contrast(90%);
            }

            @include ab.breakpoint(tablet) {
                width: 22px;
            }

            @include ab.breakpoint(desktop) {
                width: 26px;
            }
        }
    }
}

.footer_location {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 30px;
    gap: 30px;
    background-color: ab.$color-naranja;

    @include ab.breakpoint(tablet) {
        flex-direction: row;
        gap: 70px;
        align-items: flex-start;
        padding: 50px 40px 60px 40px;
    }
    
    @include ab.breakpoint(desktop) {
        gap: 100px;
        padding: 100px 160px;
    }

    img {
        width: 25%;

        @include ab.breakpoint(tablet) {
            width: 15%;
        }

        @include ab.breakpoint(desktop) {
            width: 25%;
        }
    }

    .description_footer {
        @include ab.breakpoint(tablet) {
            margin-right: 50px;
        }

        @include ab.breakpoint(desktop) {
            margin-left: 40px;
            margin-right: 120px;
            font-size: ab.$bodyM;
            line-height: 34px;
        }
    }

    .media-icons {
        display: flex;
        gap: 16px;

        @include ab.breakpoint(tablet) {
            gap: 24px;
        }

        img {
            width: 16px;
            transition: transform 0.3s ease-in-out, transform 0.2s ease-in-out;

            &:hover {
                transform: scale(1.15);
                filter: brightness(0) saturate(100%) invert(100%) sepia(0%) saturate(0%) hue-rotate(204deg) brightness(102%) contrast(105%);
            }

            @include ab.breakpoint(tablet) {
                width: 22px;
            }

            @include ab.breakpoint(desktop) {
                width: 26px;
            }
        }
    }
}