@use "../abstracts/abstracts" as ab;

p {
    color: ab.$color-negro;
    line-height: 26px;
    font-size: ab.$bodyS;
    font-weight:200;
}

h1 {

}

h3 {
    color: ab.$color-negro;
    font-family: ab.$fuente-encabezado;
    font-size: ab.$headingM;
}

h4 {
    color: ab.$color-negro;
    font-family: ab.$fuente-encabezado;
    font-size: ab.$headingS;
}